@import "_variables";
@import "_mixins";
img{
    height: 3rem;
}
.about {
    height: 100vh;
    background-color: rgb(255, 160, 204);
    @include flex-row-center;
    justify-content: space-around
}
.about-row{
    @include flex-row-center;
    justify-content: space-between;
    height: 100%;
    width: 85vw;
    margin: 0 auto;
}
.about-col{
    background-color: #f36fb7;
    height: 90%;
    width: 25%;
    @include flex-col-center;
    justify-content: space-evenly;
}
.about-img{
    height: 25%;
}
.about-text{
    font-size: 3rem;
    text-align: center;
    padding: 2.2rem;
}
.about-box{
    background-image: url(friends.jpg);
    height: 30%;
    width: 80%;
    background-size: cover;
    background-position: center;
}
