@import "_variables";
@import "_mixins";

.about {
    background-color: rgb(255, 160, 204);
    @include flex-row-center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-col {
    background-color: rgb(231, 126, 166);
    height: 500px;
    width: 30%;
    @include flex-col-center;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgb(179, 85, 121);
    margin: 3rem 2rem;
}

.about-img {
    height: 40%;
}

.about-text {
    font-size: 3rem;
    text-align: center;
    color: white;
}
