@import "_mixins";

.header {
    background-color: palevioletred;
    color: #fff;
    height: 60vh;
    @include flex-col-center;
    justify-content: center;
}

.headerimages {
    display: flex;
    align-items: center;
}

.header-img {
    height: 30vh;
}
.header2-img {
    height: 7vh;
    margin-left: 5rem;
}

.header-title {
    font-size: 8rem;
}