@import "_variables";
@import "_mixins";

.header{
    background-color: palevioletred;
    color: #fff;
    height: 60vh;
    @include flex-col-center;
    justify-content: center;
}
.header-img{
    height: 30vh;
}
.header-title{
    font-size: 8rem;
    text-align: center;
}