@import "_mixins";

.header {
    background-color: palevioletred;
    height: 60vh;
    @include flex-col-center;
    justify-content: center;
}

.headerimages {
    display: flex;
    align-items: center;
}

.header-img {
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s;
    height: 35vh;
    transform: perspective(1px) translateZ(0);
    transition-property: transform;
}

.header-img:hover {
    transform: translateX(-3rem);
}

.header2-img {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    height: 7vh;
    margin-left: 5rem;
    transition: all 0.3s;
    transition-property: transform;
}

.header2-img:hover {
    transform: translateX(3rem);
}

.header-title {
    font-size: 8rem;
}

.header-title:not(hover) {
    animation: changingcolor 1s infinite alternate;
}

@keyframes changingcolor {
    0% {
        color: peachpuff;
    }

    40% {
        color: pink;
    }

    70% {
        color: rgb(255, 192, 217);
    }

    100% {
        color: rgb(235, 164, 188);
    }
}