html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Caveat", cursive;
  font-style: italic;
}

@media (max-width: 320px) {

  .about>.header>.headerimages {
    flex-basis: 90%;
  }
}

@media (max-width: 767px) {

  .about,
  .header,
  .headerimages {
    flex-basis: 50%;
  }
}

.header {
  background-color: palevioletred;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerimages {
  display: flex;
  align-items: center;
}

.header-img {
  display: inline-block;
  vertical-align: middle;
  height: 30vh;
  transition: all 0.3s;
  transform: perspective(1px) translateZ(0);
  transition-property: transform;
}

.header-img:hover {
  transform: translateX(-3rem);
}

.header2-img {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  height: 7vh;
  margin-left: 5rem;
  transition: all 0.3s;
  transition-property: transform;
}

.header2-img:hover {
  transform: translateX(3rem);
}

.header-title {
  font-size: 8rem;
}

.header-title:not(hover) {
  -webkit-animation: changingcolor 1s infinite alternate;
  animation: changingcolor 1s infinite alternate;
}

@-webkit-keyframes changingcolor {
  0% {
    color: peachpuff;
  }

  40% {
    color: pink;
  }

  70% {
    color: rgb(255, 192, 217);
  }

  100% {
    color: rgb(235, 164, 188);
  }
}

@keyframes changingcolor {
  0% {
    color: peachpuff;
  }

  40% {
    color: pink;
  }

  70% {
    color: rgb(255, 192, 217);
  }

  100% {
    color: rgb(235, 164, 188);
  }
}

.about {
  background-color: rgb(255, 160, 204);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-row {
  background-color: rgb(231, 126, 166);
  height: 500px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 12px 12px 2px 1px rgb(179, 85, 121);
  margin: 3rem 2rem;
  transition: all 0.5s;
}

.about-row:hover {
  transform: scale(1);
  outline: 0.3rem solid white;
}

.about-row:not(:hover) {
  transform: scale(0.8);
  opacity: 0.7;
}

.about-row2 {
  background-color: rgb(231, 126, 166);
  height: 500px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 12px 12px 2px 1px rgb(179, 85, 121);
  margin: 3rem 2rem;
  transition: all 0.5s;
}

.about-row2:hover {
  transform: scale(0.7);
  outline: 0.3rem solid white;
}

.about-row2:not(:hover) {
  transform: scale(0.8);
  opacity: 0.7;
}

.about-row3 {
  background-color: rgb(231, 126, 166);
  height: 500px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  margin: 3rem 2rem;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 0.5s;
}

.about-row3:hover {
  transform: scale(0.7);
  box-shadow: 0 0 100px rgb(139, 51, 85);
  outline: 0.3rem solid white;
}

.about-row3:not(:hover) {
  transform: scale(0.8);
  opacity: 0.7;
}

.about-img {
  height: 40%;
  display: flex;
  justify-content: center;
}

.about-text {
  font-size: 3rem;
  text-align: center;
  color: white;
}


/*# sourceMappingURL=main.css.map */