@import "_variables";
@import "_header";
@import "_about";
html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Caveat', cursive;
    font-style: italic;
}

@media all and (max-width: 480px) { 
    .header{
        height: 30vh;
    }
  .header-title{
    font-size: 4rem;
  }
  .header-img{
    height: 10vh;
    width: 40vw;
  }
  .header-img:hover {
    transform: translateX(-1rem);
}
  .header2-img{
    margin-left: 3rem;
    height: 2vh;
    width: 25vw;
  }
  .header2-img:hover {
    transform: translateX(1rem);
}
  .about-row{
    font-size: 0.5rem;
    height: 60vh;
    width: 95vw;
  }
  .about-row2{
    font-size: 0.5rem;
    height: 60vh;
    width: 95vw;
  }
  .about-row3{
    font-size: 0.5rem;
    height: 60vh;
    width: 95vw;
  }
  .about-img{
    height: 18vh;
    width: 80vw;
  }
} 

@media all and (max-width: 767px) { 
    .header{
        height: 30vh;
    }
  .header-title{
    font-size: 6rem;
  }
  .header-img{
    height: 15vh;
    width: 40vw;
  }
  .header-img:hover {
    transform: translateX(-1rem);
    }
  .header2-img{
    margin-left: 3.5rem;
    height: 3vh;
    width: 25vw;
  }
  .header2-img:hover {
    transform: translateX(1rem);
    }
  .about-row{
    font-size: 0.5rem;
    height: 45vh;
    width: 45vw;
  }
  .about-row2{
    font-size: 0.5rem;
    height: 45vh;
    width: 45vw;
  }
  .about-row3{
    font-size: 0.5rem;
    height: 45vh;
    width: 45vw;
  }
  .about-img{
    height: 15vh;
    width: 42vw;
  }
}

@media all and (max-width: 1024px) { 
    .header{
        height: 35vh;
    }
  .header-title{
    font-size: 8rem;
}
  .header-img{
    height: 22vh;
    width: 22vw;
  }
  .header2-img{
    margin-left: 5.5rem;
    height: 5vh;
    width: 16vw;
}
    .about{
    font-size: 7rem;
}
.about-row{
    font-size: 0.5rem;
    height: 70vh;
    width: 31.7vw;
  }
  .about-row2{
    font-size: 0.5rem;
    height: 70vh;
    width: 31.7vw;
  }
  .about-row3{
    font-size: 0.5rem;
    height: 70vh;
    width: 31.7vw;
  }
  .about-img{
    height: 27vh;
    width: 31vw;
  }
}